<html>
  <head>
    <meta charset="utf-8">
    <script src="script.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span></span></a>
          <a class="navbar-brand" href="/">Communis ARXPS</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
	    <div class="table-responsive">
              <table class="table table-condensed">
		<tbody>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000000;">H</button>
		    </td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">He</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">Li</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00">Be</button>
		    </td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">B</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">C</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">N</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">O</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">F</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Ne</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">Na</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00;">Mg</button>
		    </td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;"></td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Al</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">Si</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">P</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">S</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">Cl</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Ar</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">K</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00;">Ca</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Sc</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ti</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">V</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Cr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Mn</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Fe</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Co</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ni</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Cu</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Zn</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Ga</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">Ge</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">As</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #000066">Se</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">Br</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Kr</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">Rb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00">Sr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Y</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Zr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Nb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Mo</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Tc</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ru</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Rh</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Pd</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ag</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Cd</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">In</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block"  style="color: #004d00;">Sn</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">Sb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">Te</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">I</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Xe</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">Cs</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00">Ba</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">

		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Hf</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ta</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">W</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Re</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Os</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ir</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Pt</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Au</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Hg</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Tl</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Pb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Bi</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #006666">Po</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">At</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Rn</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #800000;">Fr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #804c00">Ra</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">

		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Rf</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Db</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Sg</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Bh</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Hs</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Mt</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Ds</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Rg</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #997a00">Cn</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Uut</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Fl</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Uup</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #004d00;">Lv</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #730099;">Uus</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #320066;">Uuo</button>
		    </td>
                  </tr>
		</tbody>
              </table>
            </div>
          </div>
	</div>
	<div class="row">
          <div class="col-md-12">
	    <h5>Lanthanides & Actinides </h5>
	  </div>
	</div>
        <div class="row">
          <div class="col-md-1">
	  </div>
	  <div class="col-md-10">
	    <div class="table-responsive">
              <table class="table table-condensed">
		<tbody>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">La</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Cr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Pr</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Nd</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Pm</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Sm</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Eu</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Gd</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Tb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Dy</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Ho</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Er</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Tm</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Yb</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #666633">Lu</button>
		    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Ac</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Th</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Pa</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">U</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Np</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Pu</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Am</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Cm</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Bk</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Cf</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Es</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Fm</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Md</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">No</button>
		    </td>
                    <td class="text-center" style="padding: 2px;">
		      <button type="button" class="btn btn-default btn-block" style="color: #2d862d">Lr</button>
		    </td>
                  </tr>
		</tbody>
              </table>
	    </div>
          </div>
	  <div class="col-md-1">
	  </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Communis ARXPS</h1>
            <p>Data fitting made easy.</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                
                <a href="#"><i class="fa fa-3x fa-fw text-inverse fa-envelope"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    

</body></html>
