<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="script.js"></script>
    <link href="/bootstrap.min.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span></span></a>
          <a class="navbar-brand" href="/">Communis ARXPS</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="active">
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br/>
    <div class="section">
      <div class="container">
        <div class="row">
	  <div class="col-md-2"></div>
          <div class="col-md-8 text-center">

	    <div class="jumbotron">
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">1s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">2s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">1p</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">3s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">3p</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">4s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">3d</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">4p</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">5s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">4d</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">5p</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">6s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">4f</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">5d</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">6p</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">7s</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">5f</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">6d</a>
	      </ul>
	      <ul>
		<a type="button" class="btn btn-default btn-block btn-xs">7p</a>
	      </ul>
	    </div>
	    <div class="col-md-2"></div>
          </div>
	</div>
      </div>
    </div>
  </body>
</html>
